*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align:baseline;
}


body {
    
    font-family: sans-serif;
    background: #6a7dfa;
}

head{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6a7dfa;
}

.navbar {
  width: 59vw;             
  height: 55px;             
  background: linear-gradient(90deg, #3830a2, #7bdcff);
  display: flex;
  margin: 0 auto;
  align-items: center;
  position: relative;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);      
}

.nav-content {
  margin: 0 auto;
  position: absolute;  
  top: 7px;            
  left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;    
  padding-left: 20px;                
}

.logo {
  height: 40px;  
  display: block;
  filter:
    drop-shadow(2px 0 0 white)
    drop-shadow(-2px 0 0 white)
    drop-shadow(0 2px 0 white)
    drop-shadow(0 -2px 0 white);          
}

.titulo {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  color: #f64ea6;
  margin: 0;
  text-shadow:
    -2px -2px 0 #fff,
     2px -2px 0 #fff,
    -2px  2px 0 #fff,
     2px  2px 0 #fff;
}

.menu-btn {
  margin-left: auto;
  margin-right: 20px;
  font-size: 26px;
  color: white;
  cursor: pointer;
  user-select: none;
}
.menu {
  position: absolute;
  top: 70px;              
  right: 20px;
  background: #3830a2;
  border-radius: 10px;
  min-width: 240px;
  display: none;      
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
.menu a {
  display: block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  background: #ff5da2;
}


.content-header img{
    display: block;
    margin: 0 auto;
    height: 69vh;
    width: 59vw;
    background: url(img/portada2.png) no-repeat center;
    background-size: contain;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    
}

.imagen{
    width: 350px;
    height: 400px;
}

.imagenn{
    width: 50px;
    height: 50px;
}
.descripcion-juego {
    display: block;
    margin: 0 auto;
    height: 90vh;
    width: 59vw;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
}

.descripcion-juego h3 {
    font-family: 'Lobster', cursive;
  font-size: 25px;
  margin-top: 0;
  color: #3830a2;
}

.descripcion-juego h4 {
    font-family: 'Lobster', cursive;
  font-size: 25px;
  margin-bottom: 5px;
  color: #7a3ff2;
}
.descripcion-juego h5 {
    font-family: 'Lobster', cursive;
  font-size: 25px;
  margin-bottom: 5px;
  color: #7a3ff2;
}
.descripcion-juego p {
    font-size: 17px;
  margin-bottom: 5px;
  color: #312040;
}
.contenedor {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1100px;
  margin: 20px auto;
}

.text-inicio {
  width: 100%;
}

.img-inicio {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-inicio img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  display: flex;
}
h3 {
    display: flex;
    align-items: center;      
    justify-content: center; 
    text-align: center
